{% extends 'base.html.twig' %}

{% block title %}All articles{% endblock %}

{% block body %}

    <h1>All articles from article s table : </h1>
    {% for article in articles %}
        <div class="m-5">
            <h2>{{ loop.index }} / {{ article.title }} - Category : {{ article.category.name }}</h2>
            <p>{{ article.content }}</p>
            <strong>Tags :</strong>
            <ul>
                {% for tag in article.tags %}
                    <a href="{{ path('show_tag', { 'name': tag.name }) }}" ><li>{{ tag.name }} </li> </a>
                {% else %}
                    <li>No tags for this article</li>
                {% endfor %}
            </ul>
            <a href="{{ path('show_ById', { 'id': article.id }) }}" class="btn btn-dark">Lire la suite </a>
        </div>
    {% else %}
        Aucun article trouvé.
    {% endfor %}
    <a href="{{ path('app_index') }}">
        Back to homepage.
    </a>
{% endblock %}